{% extends 'vehicle/customerbase.html' %}
{% load static %}
{% block content %}

	<!-- main content -->
	<div class="wrapper">

<!-- ****** table  start ********** -->
		<div class="row">
			<div class="col-12 col-m-12 col-sm-12">
				<div class="card">
					<div class="card-header">
						<h3 style="color:red; text-align:center" >Mechanic Search Here
						</h3>

					</div>
                    <br>
                    <br>
                    <form class="navbar-search" method="POST">
                        {% csrf_token %}
                        <select name="mechanic" class="form-control" id="mechanic">
                            <!-- Populate the select options with all mechanic names -->
                            {% for m in mechanics %}
                                <option value="{{ m.get_name }}">{{ m.get_name }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit">Search</button>
            
                    </form>
                    <br>
                    <br>
                    </div>
                </div>
        </div>        
    </div>
    	<!-- main content -->

{% endblock content %}